.Header {
    background:linear-gradient(to right,#84eece, #23cdd3);
    text-align: left;
    text-align: right;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.text-left {
    font-family: Verdana;
    font-style: normal;
    color: white;
}