.header {
    display:flex;
}

.btn.btn-info {
    width: 100px
}

.Header {
    background-color: rgb(59, 187, 204);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
