.Header {
    background:linear-gradient(to right, #3ad2d8,#7ee9c9);
    text-align: left;
    text-align: right;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.text-left {
    font-family: Verdana;
    color: white;

}